@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>@ViewBag.Title - My ASP.NET Application</title>
     <script src="~/Scripts/modernizr-2.6.2.js"></script>
     @Styles.Render("~/bundles/bootstrap/css")
     @Styles.Render("~/bundles/materialdesignicons/css")
     @Styles.Render("~/bundles/peicon7stroke/css")
     @Styles.Render("~/bundles/style/css")



     @if (IsSectionDefined("Styles"))
     {
          @RenderSection("Styles", required: false)
     }
     @Styles.Render("~/bundles/main/css")

</head>
<body>

     @Html.Partial("_Header")
     @Html.Partial("_Content")
     @Html.Partial("_Footer")

     @Scripts.Render("~/bundles/jquery/js")
     @Scripts.Render("~/bundles/bootstrap/js")
     @Scripts.Render("~/bundles/jqueryeasing/js")
     @Scripts.Render("~/bundles/scrollspy/js")
     @Scripts.Render("~/bundles/counter/js")
     @Scripts.Render("~/bundles/app/js")
     @RenderSection("scripts", required: false)
     @RenderBody()

</body>
</html>